server {
    listen 80;

    include /var/www/cackatoo/app/config/nginx/host.nginx.conf;

    location /_profiler {
        # FIXME Secure.
    }

    location ~ \.php {
        fastcgi_intercept_errors on;

        fastcgi_pass 127.0.0.1:9000;

        include fastcgi_params;

        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
