{% extends '::layout.html.twig' %}

{% block title %}Project Deploy <small>{{ project.code }}</small>{% endblock %}

{% block body %}

{# TODO Errors from all fields. #}
{{ form.errors }}

<form action="{{ path('project_deploy', { 'project': project.code }) }}" method="post" class="well">
    <input
        name="deploy[version]"
        type="text"
        placeholder="Version (69, by example)"
        required
        style="margin-bottom: 0px;"
        {# FIXME Field's value. #}
        value="{{ project.latestVersion }}">

    <input type="submit" value="Deploy!" class="btn btn-danger">
</form>
{% endblock %}
